html {
  background-color: #FDFBD4;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  border-radius: 8px;
  border: 10px solid green;
}

#cell {
  background-color: lightblue;
  aspect-ratio: 1 / 1;
}

.btn {
  border: none;
  background-color: crimson;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  width: 10rem;
  height: 3rem;
  margin: 0 10px;
}

.btn:hover {
  background-color: black;
}

#wrapper {
  display: flex;
  justify-content: center;
}

.main {
  margin-top: 10px;
}

.github-img {
  width: 30px;
  margin-top: 7px;
}

.github-img:hover {
  width: 35px;
}

footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
